## Dependencies

In [1]:
import pandas as pd

## Data Handling

In [2]:
dfMouseMetadata=pd.read_csv("Resources/Mouse_metadata.csv")   
dfStudyResult=pd.read_csv("Resources/Study_results.csv")

study_data = pd.merge(dfMouseMetadata, dfStudyResult, how="left", on="Mouse ID")
study_data.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1